In [1]:
from IPython.display import display, HTML

display(HTML(data="""
<style>
    div#notebook-container    { width: 95%; }
    div#menubar-container     { width: 85%; }
    div#maintoolbar-container { width: 99%; }
</style>
"""))

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns
from pprint import pprint
from scipy.stats import uniform
import statsmodels.api as sm
import math
import shap 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_validate, cross_val_score, cross_val_predict, GridSearchCV, RandomizedSearchCV, KFold, StratifiedKFold, validation_curve
from sklearn.pipeline import Pipeline as Pipeline, make_pipeline as make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from catboost import CatBoostClassifier, Pool, cv
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, VotingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import roc_auc_score, accuracy_score, f1_score, precision_score, recall_score, confusion_matrix, classification_report
from sklearn.svm import SVC, LinearSVC
from sklearn.utils import resample
from xgboost import XGBClassifier
from imblearn.over_sampling import SMOTE, RandomOverSampler, SMOTENC
from imblearn.under_sampling import NearMiss, RandomUnderSampler
from imblearn.pipeline import Pipeline as Imbpipeline
from imblearn.pipeline import make_pipeline as Imb_make_pipeline
from imblearn.combine import SMOTETomek, SMOTEENN
from sklearn.feature_selection import VarianceThreshold
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectFromModel

pd.set_option('max_colwidth', 100)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [2]:
df_data_set_op = pd.read_csv(r'C:\Users\moham\Dropbox\QSE\Thesis\Geopattern\My data\df_data_set_Europe_North_America2a.csv')

In [3]:
df_data_set1 = pd.read_csv(r'C:\Users\moham\Dropbox\QSE\Thesis\Geopattern\My data\df_data_set_Europe_North_America2a_part1.csv')
df_data_set2 = pd.read_csv(r'C:\Users\moham\Dropbox\QSE\Thesis\Geopattern\My data\df_data_set_Europe_North_America2a_part2.csv')
df_data_set3 = pd.read_csv(r'C:\Users\moham\Dropbox\QSE\Thesis\Geopattern\My data\df_data_set_Europe_North_America2a_part3.csv')

df_data_set = pd.concat([df_data_set1, df_data_set2])

In [4]:
df_data_set

,Unnamed: 0,Author_1_2,Author_1,Author_2,number_of_collaborations,collaboration_binary,TENB,Cog_Dist,Geo_Dist,Diff_Country,...,Country_1_Bulgaria,Country_1_Iceland,Country_1_Lithuania,Country_1_Macedonia,Country_1_Serbia,Country_2_Bulgaria,Country_2_Iceland,Country_2_Lithuania,Country_2_Macedonia,Country_2_Serbia
0,0,65070607766507925214,6507060776,6507925214,0.00,0,0.00,1.22,5827.47,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,65070607766602521872,6507060776,6602521872,0.00,0,0.00,1.10,8195.80,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,65070607766602700064,6507060776,6602700064,0.00,0,0.00,0.74,508.63,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,65070607766602701401,6507060776,6602701401,0.00,0,0.00,0.50,5966.00,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,65070607766603053445,6507060776,6603053445,0.00,0,0.00,0.76,5824.30,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
439448,439448,5721226332657212714639,57212263326,57212714639,0.00,0,0.00,1.03,562.23,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
439449,439449,5721226332657213740403,57212263326,57213740403,0.00,0,0.00,1.26,3127.67,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
439450,439450,5721263786557212714639,57212637865,57212714639,0.00,0,0.00,0.95,4093.85,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
439451,439451,5721263786557213740403,57212637865,57213740403,0.00,0,0.00,1.25,791.76,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
439452,439452,5721271463957213740403,57212714639,57213740403,0.00,0,0.00,1.24,3309.14,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00